.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
*.tsbuildinfo
.build/

dsh-plugin-desktop/dist/
dsh-plugin-desktop/lib/
dsh-community-market/lib/

.env.yarn
dsh-desktop-next/lib/
ling-desktop/dist/
dsh-desktop-next/.desktop-next/
dsh-desktop-next/.web-serve/
ling-desktop/desktop/lib/
ling-desktop/desktop/.web-serve/
ling-desktop/desktop/.ling-home/
ling-desktop/desktop/.packaging/
ling-desktop/desktop/dist/
